<!DOCTYPE html>
<html lang="en ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer>
    <div class="container footer-container">
        <div class="footer-section">
            <h4><a href="#">Home</a></h4>
            <ul>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Devices</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4><a href="#">Movies</a></h4>
            <ul>
                <li><a href="#">Games</a></li>
                <li><a href="#">Trending</a></li>
                <li><a href="#">New Release</a></li>
                <li><a href="#">Popular</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4><a href="#">Shows</a></h4>
            <ul>
                <li><a href="#">Genres</a></li>
                <li><a href="#">Trending</a></li>
                <li><a href="#">New Release</a></li>
                <li><a href="#">Popular</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4><a href="#">Support</a></h4>
            <ul>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4><a href="#">Subscription</a></h4>
            <ul>
                <li><a href="#">Plans</a></li>
                <li><a href="#">Features</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Connect With Us</h4>
            <ul class="social-icons">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom container">
        <p>&copy;2024 glazweq. All Rights Reserved</p>
        <ul>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Cookie Policy</a></li>
        </ul>
    </div>
</footer>
</body>
</html>