

<!doctype html>
<html lang="en ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">-->
    <link rel="stylesheet" href="../../static/css/roots.css">
    <link rel="stylesheet" href="../../static/css/headersAndFootersStyle.css">

</head>
<body>
<header>
    <nav class="navbar header-base">
        <div class="container">
            <a class="brand-link" th:href="@{/home}">
                <img class="brand-img" src="../../static/img/logo.svg" alt="logo" />
                <span class="navbar-myBrand">StreamVibe</span>
            </a>

            <!--            <button class="" type="button" data-mdb-collapse-init-->
            <!--                    data-mdb-target="#navbarToggleExternalContent3" aria-controls="navbarToggleExternalContent3"-->
            <!--                    aria-expanded="false" aria-label="Toggle navigation">-->
            <!--                <i class="fas fa-bars"></i>-->
            <!--            </button>-->
            <div class="nav-menu">
                <ul class="navbar-navigation">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Subscriptions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Serials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li th:if="${userRole == 'admin'}">
                        <a class="nav-link" href="/admin-home">Admin</a>
                    </li>
                </ul>
                <div class="search-and-profile search-and-profile-base">
                    <div class="nav-link search-link">
                        <div class="search-wrap">
                            <input type="text" id="movie-name" placeholder="Search...">
                            <div class="search-icon">
                                <svg viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 512 512">
                    <path d="M344.5 298c15-23.6 23.8-51.6 23.8-81.7 0-84.1-68.1-152.3-152.1-152.3C132.1 64 64 132.2 64 216.3c0 84.1 68.1 152.3 152.1 152.3 30.5 0 58.9-9 82.7-24.4l6.9-4.8L414.3 448l33.7-34.3-108.5-108.6 5-7.1zm-43.1-166.8c22.7 22.7 35.2 52.9 35.2 85s-12.5 62.3-35.2 85c-22.7 22.7-52.9 35.2-85 35.2s-62.3-12.5-85-35.2c-22.7-22.7-35.2-52.9-35.2-85s12.5-62.3 35.2-85c22.7-22.7 52.9-35.2 85-35.2s62.3 12.5 85 35.2z" fill="#ffffff" class="fill-000000"></path>
                </svg>
                            </div>
                        </div>
                        <ul id="search-results"  class="search-results-container"></ul>
                    </div>
                </div>
                <div th:if="${userRole == 'guest'}">
                    <a class="nav-link user-link" href="/login">
                        <div class="profile-icon">
                            <svg class="user-svg-nav" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                <path d="M256 112c-48.6 0-88 39.4-88 88s39.4 88 88 88 88-39.4 88-88-39.4-88-88-88zm0 128c-22.06 0-40-17.95-40-40 0-22.1 17.9-40 40-40s40 17.94 40 40c0 22.1-17.9 40-40 40zm0-240C114.6 0 0 114.6 0 256s114.6 256 256 256 256-114.6 256-256S397.4 0 256 0zm0 464c-46.73 0-89.76-15.68-124.5-41.79C148.8 389 182.4 368 220.2 368h71.69c37.75 0 71.31 21.01 88.68 54.21C345.8 448.3 302.7 464 256 464zm160.2-75.5c-27-42.2-73-68.5-124.4-68.5h-71.6c-51.36 0-97.35 26.25-124.4 68.48C65.96 352.5 48 306.3 48 256c0-114.7 93.31-208 208-208s208 93.31 208 208c0 50.3-18 96.5-47.8 132.5z" fill="#e8e8e8" class="fill-000000">
                                </path>
                            </svg>
                            <span> Log in</span>
                        </div>
                    </a>
                </div>
                <div th:if="${userRole != 'guest'}">
                    <a class="nav-link user-link" href="/logout">
                        <div class="profile-icon">
                            <svg class="user-svg-nav" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                <path d="M256 112c-48.6 0-88 39.4-88 88s39.4 88 88 88 88-39.4 88-88-39.4-88-88-88zm0 128c-22.06 0-40-17.95-40-40 0-22.1 17.9-40 40-40s40 17.94 40 40c0 22.1-17.9 40-40 40zm0-240C114.6 0 0 114.6 0 256s114.6 256 256 256 256-114.6 256-256S397.4 0 256 0zm0 464c-46.73 0-89.76-15.68-124.5-41.79C148.8 389 182.4 368 220.2 368h71.69c37.75 0 71.31 21.01 88.68 54.21C345.8 448.3 302.7 464 256 464zm160.2-75.5c-27-42.2-73-68.5-124.4-68.5h-71.6c-51.36 0-97.35 26.25-124.4 68.48C65.96 352.5 48 306.3 48 256c0-114.7 93.31-208 208-208s208 93.31 208 208c0 50.3-18 96.5-47.8 132.5z" fill="#e8e8e8" class="fill-000000">
                                </path>
                            </svg>
                            <span> Log out</span>
                        </div>
                    </a>
                </div>

            </div>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>

        </div>
    </nav>
</header>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../../static/js/header.js"></script>
</body>

</html>




<!--<!doctype html>-->
<!--<html lang="en ru" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Document</title>-->
<!--    <link rel="stylesheet" href="../../static/css/roots.css">-->
<!--    <link rel="stylesheet" href="../../static/css/headersAndFootersStyle.css">-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--    <nav class="navbar">-->
<!--        <div class="container">-->
<!--            <a class="brand-link" th:href="@{/home}">-->
<!--                <img class="brand-img" src="../../static/img/logo.svg" alt="logo" />-->
<!--                <span class="navbar-myBrand">StreamVibe</span>-->
<!--            </a>-->

<!--            &lt;!&ndash;            <button class="" type="button" data-mdb-collapse-init&ndash;&gt;-->
<!--            &lt;!&ndash;                    data-mdb-target="#navbarToggleExternalContent3" aria-controls="navbarToggleExternalContent3"&ndash;&gt;-->
<!--            &lt;!&ndash;                    aria-expanded="false" aria-label="Toggle navigation">&ndash;&gt;-->
<!--            &lt;!&ndash;                <i class="fas fa-bars"></i>&ndash;&gt;-->
<!--            &lt;!&ndash;            </button>&ndash;&gt;-->
<!--            <div class="nav-menu">-->
<!--                <ul class="navbar-navigation">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="/home">Home</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">Subscriptions</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">Serials</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">About</a>-->
<!--                    </li>-->

<!--                </ul>-->

<!--            </div>-->
<!--            <div class="hamburger">-->
<!--                <span class="bar"></span>-->
<!--                <span class="bar"></span>-->
<!--                <span class="bar"></span>-->
<!--            </div>-->

<!--        </div>-->
<!--    </nav>-->
<!--</header>-->
<!--<script>-->
<!--    const  hamburger = document.querySelector(".hamburger")-->
<!--    const  navMenu = document.querySelector(".nav-menu")-->

<!--    hamburger.addEventListener("click", () =>{-->
<!--        hamburger.classList.toggle("active");-->
<!--        navMenu.classList.toggle("active");-->
<!--    })-->

<!--    document.querySelectorAll(".nav-link").forEach(n => n.addEventListener("click", () =>{-->
<!--            hamburger.classList.remove("active");-->
<!--            navMenu.classList.remove("active");-->
<!--        }-->

<!--    ))-->
<!--</script>-->
<!--</body>-->

<!--</html>-->