/*main section*/
ul, section{
    padding: 0;
}
p{
    margin: 0;
}
.btn{
    padding: 7px 12px !important;
}
h3{
    color: white;
}

/*Filters*/
.filter-fields{
    display: flex;

    align-items: end;
    margin-bottom: 15px;
}
.form-control {
    background-color: var(--main-bg-color);
    color: white;
    border: none;
}
.form-group-filters label{
    color: white;
}
.form-control option{
    border-color: red;
}
.form-control:focus {
    border: 1px solid #ccc;
    border-image:  linear-gradient(90deg, rgba(229,0,0,0) 0%, rgba(229,0,0,1) 49%, rgba(229,0,0,0) 100%);
    border-image-slice: 1;
    background-color: var(--back-item-1f);
    color: white;
    box-shadow: 0 0 0 0.1rem rgba(255, 0, 0, 0.15);
}
.form-group-filters{
    border-bottom: 1px solid #ccc;
    border-image:  linear-gradient(90deg, rgba(229,0,0,0) 0%, rgba(229,0,0,1) 49%, rgba(229,0,0,0) 100%);
    border-image-slice: 1;
    flex: 0 0 15%;
    max-width: 15%;
    margin-right: 20px;
}
.filters-btn{
    padding: 4px 15px !important;
}

/*select from google*/


/*cards*/
.filtered-movies-item{
    background-color: var(--bg-item-color);
    max-width: calc(25% - 30px);
    border-radius: 10px;
    transition: transform 0.3s;
    margin-bottom: 20px;
    height: fit-content;
}
.filtered-movies-item:hover{
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.filtered-movies-name{
    color: white;
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}
.filtered-movies-img{
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}
.filtered-movies-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.filtered-movies-container{
    margin-top: 80px;
    padding: 20px;
    border-radius: 10px;
    border: var(--border-color) 1px solid;
}
.filtered-movies-info-container{
    padding: 15px;
}



/*modal*/


.modal-content{
    color: #bbb0b0;
}
/* Стилі для модального вікна */
.modal-dialog {
    width: 90%; /* Задати ширину модального вікна (90% від ширини вікна перегляду) */
    max-width: 900px; /* Максимальна ширина модального вікна */
}

/* Стилі для зображення в модальному вікні */
.film-img {
    height: auto; /* Автоматична висота зображення */
    display: block; /* Встановити як блочний елемент для коректного відображення */
    float: left; /* Розмістити зображення ліворуч */
    margin-right: 20px; /* Додати більший відступ праворуч для тексту */
    max-width: 300px; /* Збільшити максимальну ширину зображення */
    max-height: 400px; /* Збільшити максимальну висоту зображення */
}
.modal-content {
    width: 800px; /* Задати більшу ширину модального вікна */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--back-item-1f);
}

.film-description{
    height: 400px;
}
/* Стилі для зображення в модальному вікні */
.film-img {

}
/* Стилі для блоку тексту в модальному вікні */
.modal-body .film-description {
    overflow: hidden; /* Запобігає виходженню тексту за межі зображення */
}
.btn-default{
    color: white;
}
.rating {
    --dir: right;
    --fill: var(--accent-color);
    --fillbg: rgba(100, 100, 100, 0.15);
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 5;
    --starsize: 1.5rem;
    --symbol: var(--star);
    --w: calc(var(--stars) * var(--starsize));
    --percent: 0%; /* 添加 --percent 变量定义 */
    block-size: var(--starsize);
    inline-size: var(--w);
    position: relative;
    touch-action: manipulation;
    -webkit-appearance: none;
    border-radius: 5px;

}
[dir="rtl"] .rating {
    --dir: left;
}
.rating::before {
    background: linear-gradient(
            to var(--dir),
            var(--fill) 0 var(--percent),
            var(--fillbg) var(--percent) 100%
    );
    block-size: 100%;
    content: '';
    display: block;
    inline-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
    -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}
.rating-label {
    display: flex;
    font-family: ui-sans-serif, system-ui, sans-serif;
    margin-block-end: 1rem;
    margin: 0;
}
.modal-title{
    color: white;
}
.wrap-info-modal{
    background-color: var(--main-bg-color);
    display: inline-block;
    border-radius: 6px;
    padding: 7px;
    margin-right: 15px;
}
.info-modal{
    color: white;
    margin-bottom: 2px;

}
.year{
    margin-top: 4px;
    color: white;
}
.rel-year-text{

    margin-left: 10px;
    color: var(--p-color);
}
.rating-text{
   margin-left: 10px;
}
.value-rating{
    margin-left: 10px;
}
.rel-year{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.rat-wrap{
    margin: 10px 0;
    display: flex;
    align-items: center;
}

/*pagination*/
.page-link{
    background-color: var(--bg-pagination-color);
}
.page-item.active{
    background-color: var(--accent-color);
}
.pagination .page-item {
    margin-right: 5px; /* Додати невеликий відступ між елементами */
}

.pagination .page-item.active .page-link {
    background-color: #343a40;
    color: white;
    border-color: #343a40;
    border-image:  linear-gradient(90deg, rgba(229,0,0,0) 0%, rgba(229,0,0,1) 49%, rgba(229,0,0,0) 100%);
    border-image-slice: 1;
}

.pagination .page-link {
    color: #bfbabb;
    border-color: #343a40;
    border-image:  linear-gradient(90deg, rgba(229,0,0,0) 0%, rgba(229,0,0,1) 49%, rgba(229,0,0,0) 100%);
    border-image-slice: 7;

}

.pagination .page-link:hover {
    background-color: var(--back-item-1f);
    color: white;
}

.pagination .page-link:focus {
    box-shadow: none;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;

}
.page-item.disabled .page-link{
    background-color: var(--bg-pagination-color);
    cursor: not-allowed;
}
@media (max-width: 768px) {
    .filtered-movies-item{
        max-width: calc(33% - 30px);
    }

}
@media (max-width: 992px) {
    .form-group-filters {
        flex: none;
        max-width: none;
    }
}
@media (max-width: 576px) {
    .form-group-filters {
        max-width: 76px;
    }
    .filtered-movies-item{
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}