

header{
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--text-color);
}
body{
    background-color: var(--main-bg-color);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 3px solid var(--accent-color);
    flex-wrap: nowrap;
}

.navbar-myBrand {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: bold;
    font-family: cursive;
}

.brand-img {
    margin-right: 20px;
}

.brand-link {
    display: flex;
    align-items: center;
}

.navbar-navigation {
    display: flex;
    margin: 0 290px 0 0;
    border-radius: 5px;
    border: 2px solid #383838; /* Пример границы шириной 2 пикселя и белого цвета */
    padding: 10px 20px;
    background-color: #1A1A1A;
}

.nav-item:not(:first-child) {
    margin-left: 20px;
}

.nav-link {
    color: var(--text-color);
    font-weight: bold;
    padding: .5rem 1rem;
    transition: color 0.3s, background-color 0.3s; /* Добавляем анимацию для цвета текста и цвета фона */
}

.nav-link:hover {
    color: var(--accent-color);

}

.nav-link:focus {
    color: var(--text-color);
    background-color: var(--dark-shade-08);
    border-radius: 5px;
}
.nav-link path{
    fill: white;
    transition: fill 0.3s;
}
.nav-link:hover path {
    fill: var(--accent-color);
    transition: fill 0.3s;
}
.navbar-toggler {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navbar-toggler-icon {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.search-and-profile {
    display: flex;
    align-items: center;
}
.search-icon svg,
.profile-icon svg {
    width: 24px;
    height: 24px;
}



.nav-menu{
    display: flex;

}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: white;

}
.user-link{
    width: max-content;
}
@media (max-width: 1400px){
    .navbar-navigation{
        margin: 0 200px 0 0;
    }
}
@media (max-width: 1200px){
    .navbar-navigation {
        margin: 0 65px 0 0;
    }
}
@media (max-width: 992px) {
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: absolute;
        top: 100px; /* Высота заголовка */
        left: 0;
        right: 0;
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
        background-color: #0c0c0c;
        /*text-align: center;*/
        transition: max-height 0.5s ease-out;
        z-index: 999;
        border-bottom: var(--accent-color) 1px solid;

    }

    .header-base .nav-menu{
        background-color: rgb(0 0 0 / 0%);
    }
    .nav-item {
        border-bottom: var(--border-color) 1px solid;
        margin: 16px !important;
        font-size: 23px;
    }

    .nav-menu.active {
        max-height: 500px; /* Установите нужную высоту для открытого меню */
    }
    .navbar-navigation {
        display: block;
            background-color: #0c0c0c;
        width: 100%;
        border: none;

    }
    .header-base .navbar-navigation{
        background-color: rgba(0, 0, 0, 0.4);
    }
    .search-and-profile .nav-link{
        margin-bottom: 8px;
        border-bottom: var(--border-color) 1px solid;
        font-size: 23px;
    }
   .search-link{
       width: 50%;
   }
   .header-base .nav-link{
       background-color: var(--bg-pagination-color);
       border-radius: 10px;
   }
    .search-and-profile{
        padding: 0 35px;
        justify-content: space-between;
        margin-left: 0;
    }
    .header-base .search-and-profile{
        background-color: rgba(0, 0, 0, 0.4);
    }
    .search-and-profile svg{
        width: 40px;
        height: auto;
    }
    .navbar{
        border: none;
    }
}
/* Общие стили */
footer {
    margin-top: 244px;
    background-color: var(--bg-pagination-color);
    color: #fff;
    padding: 40px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 0 0 16%;
    margin-bottom: 20px;
}

.footer-section h4 {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}
.footer-section h4 a{
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    font-size: 12px;
    color: var(--p-color);
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #fff;
}

.social-icons {
    display: flex;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons li a {
    color: #ccc;
    font-size: 20px;
}

.social-icons li a:hover {
    color: #fff;
}

.footer-bottom {
    border-top: #262626 1px solid;
    padding-top: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer-bottom ul li {
    margin-left: 20px;
}

.footer-bottom ul li:first-child {
    margin-left: 0;
}

.footer-bottom ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer-bottom ul li a:hover {
    color: #fff;
}
@media (max-width: 770px) {
    .footer-section{
        flex: none;
        width: 30%;
        text-align: center;
    }

}
