
h1{
    font-family: "Brush Script MT", cursive !important;
}
h2{
    margin: 0;
}
ul{
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
:root{

    --main-bg-color: #141414;
    --accent-color: #E50000;
    --text-color: white;
    --accent-second-color: #ff0000;
    --dark-shade-25 :#404040;
    --back-item-1f: #1f1f1f;
    --border-color: #333;
    --bg-item-color:#1a1a1a;
    --bg-pagination-color: #0f0f0f;
    --btn-bg-dark-color: #141414;
    --p-color: #999999;

}
.btn-primary {
    font-size: 20px;
    padding: 15px;
    color: white;
    background-color: var(--accent-color);
    border-color: #2c0000;
    transition: background-color 0.3s, color 0.3s;

}
.btn-primary:hover {
    background-color: #be0000;

    border-color: black;
    transition: background-color 0.3s, color 0.3s;

}

.btn-primary:active{
    background-color: #be0000 !important;
    border-color: black !important;
    box-shadow: 0 3px black;
    transform: translateY(4px);
}
.btn-primary:focus{
    background-color: var(--accent-color);

}
.btn-primary path{
    fill: white;
    transition: fill 0.3s;
}
.btn-primary:hover path{

    transition: fill 0.3s;
}
.dark-btn{
    background-color: var(--btn-bg-dark-color);
    color: white;
    border: var(--border-color) 1px solid;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
    transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
}
.dark-btn:hover{
    background-color: var(--back-item-1f);
}



.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255, 123, 123, 0.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn-2 {
    background: var(--accent-color);
    width: auto;
    /*background-color: #fd1246;*/
    background: linear-gradient(157deg, rgb(255 0 0) 0%, rgb(255 14 92) 98%, rgba(195, 55, 100, 1) 100%);
    border: none;

}
.btn-2:before {
    height: 0%;
    width: 2px;
}
.btn-2:hover {
    box-shadow:  4px 4px 6px 0 rgba(45, 34, 34, 0.5),
    -4px -4px 6px 0 rgba(40, 36, 36, 0.5),
    inset -4px -4px 6px 0 rgba(65, 52, 52, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}
