:root{
    --main-bg-color: #141414;
    --accent-color: #E50000;
    --text-color: #ffff;
    --accent-second-color: #ff0000;
    --dark-shade-25 :#404040;
    --back-item-1f: #1f1f1f;
    --border-color: #333;
    --bg-item-color:#1a1a1a;
    --bg-pagination-color: #0f0f0f;
    --p-color: #999999;
}