h1{
    font-family: cursive;
}
h2{
    margin: 0;
}
ul{
    padding: 0;
}
:root{

    --main-bg-color: #141414;
    --accent-color: #E50000;
    --text-color: white;
    --accent-second-color: #ff0000;
    --dark-shade-25 :#404040;
    --back-item-1f: #1f1f1f;
    --border-color: #333;
    --bg-item-color:#1a1a1a;
    --bg-pagination-color: #0f0f0f;
    --btn-bg-dark-color: #141414;
    --p-color: #999999;

}
.btn-primary {
    font-size: 20px;
    padding: 15px;
    color: white;
    background-color: var(--accent-color);
    border-color: #2c0000;
    transition: background-color 0.3s, color 0.3s;

}
.btn-primary:hover {
    background-color: #be0000;

    border-color: black;
    transition: background-color 0.3s, color 0.3s;

}

.btn-primary:active{
    background-color: #be0000 !important;
    border-color: black !important;
    box-shadow: 0 3px black;
    transform: translateY(4px);
}
.btn-primary:focus{
    background-color: var(--accent-color);

}
.btn-primary path{
    fill: white;
    transition: fill 0.3s;
}
.btn-primary:hover path{

    transition: fill 0.3s;
}
.dark-btn{
    background-color: var(--btn-bg-dark-color);
    color: white;
    border: var(--border-color) 1px solid;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
    transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
}
.dark-btn:hover{
    background-color: var(--back-item-1f);
}