body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
}
p{
    margin: 0;
}
h1{
    color: white;
    text-align: center;
}
/*HERO section*/
.bg-img-hero{

    width: 100%;
    height: auto;
    margin-bottom: -135px;

}
.img-wrap-hero{
    position: relative;
    z-index: -2;
}
.hero-section{
    background: rgb(20,20,20);
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(20,20,20,0.8939950980392157) 19%, rgba(20,20,20,0) 100%);
    z-index: 1;
}
.second-line-hero{
    display: flex;
    justify-content: center;
}
.btn-play{
    padding: 7px !important;
}
.hero-possibility{
    margin-left: 10px;
    background-color: var(--bg-pagination-color);
    padding: 10px;
    border-radius: 7px;
    border: var(--border-color) 1px solid;
}
.hero-possibility svg{
    width: 25px;
    height: auto;
}
.hero-possibility path{
    fill: white;
    transition: fill 0.3s;
}
.hero-possibility:hover path{
    fill: grey;

}
.short-description{
    text-align: center;
    color: var(--p-color);
    padding-bottom: 10px    ;
}
/*main section*/

.main-section{
    display: flex;
}
.movie-page-section{
    border-radius: 10px;
    margin-top: 40px;
    background-color: var(--bg-item-color);
    padding: 20px;
    border: var(--border-color) 1px solid;
    color: white;
}
.movie-page-section h2{
    color: var(--p-color);
    margin-bottom: 15px;
    font-size: 17px;
}
.movie-page-section p{
    font-size: 15px;
}
.left-side-containers{
    width: 75%;
}
/*description container*/

/*cast section*/
.cast-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    list-style-type: none;
    padding: 0;
}
.cast-item{
    background-color: var(--back-item-1f);
    border: var(--border-color) 1px solid;
    border-radius: 10px;
    text-align: center;

}

.cast-item img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: -2;
}
.cast-item p{
    font-size: 13px;
    color: var(--p-color);
}

#prevBtn,
#nextBtn {
    display: inline-block;
    padding: 10px 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: var(--bg-pagination-color);
    color: #fff;
    border: none;
    border-radius: 50%;
    margin-right: 8px;
}

#prevBtn:hover,
#nextBtn:hover {
    background-color: var(--main-bg-color);
}
.movie-page-section svg{
    width: 30px;
}
.navigation-cast{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
    /*Reviews*/
.wrap-upper-reviews{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plus-review{
    display: inline-block;
   font-weight: bold;
    margin-right: 5px;
    font-size: 24px;
}
.add-review-text{
    display: block;
    margin-top: 4px;
}
.wrap-upper-reviews .dark-btn{
    padding: 7px 20px 10px 20px;
    display: flex;
    align-items: center;

}
.review-list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.review-item {
    background-color: var(--bg-pagination-color);
    width: calc(50% - 10px); /* Уменьшение ширины на 10px для создания отступа между элементами */
    border: var(--border-color) 1px solid;
    border-radius: 8px;
    padding: 20px;
    height: fit-content;
}
.username-review a{
    color: var(--p-color);
}
.review-pagination{
    text-align: center;
}
.username-review{
    color: var(--p-color);
    font-size: 14px;
}
.wrap-upper-review{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.review-text{
    margin-top: 20px;
}

.prevBtn-reviews,
.nextBtn-reviews {
    display: inline-block;
    padding: 10px 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: var(--bg-pagination-color);
    color: #fff;
    border: none;
    border-radius: 50%;
    margin-right: 8px;
}

.prevBtn-reviews:hover,
.nextBtn-reviews:hover {
    background-color: var(--main-bg-color);
}

.down-wrap-reviews svg{
        width: 30px;
}
.reviews-is-null-text{
    margin-bottom: 15px;
    color: var(--p-color);
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: var(--back-item-1f);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}
.modal-header{
    color: white;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    border-image:  linear-gradient(90deg, rgba(229,0,0,0) 0%, rgba(229,0,0,1) 49%, rgba(229,0,0,0) 100%);
    border-image-slice: 1;
}
.modal-header h2{
    color: white;
    margin: 0;
}
#reviewForm{
    margin-top: 10px;
}
#reviewForm textarea,
#reviewForm input {
    background-color: var(--bg-pagination-color);
    border: var(--border-color) 1px solid;
    border-radius: 10px;
    color: var(--p-color);
    padding: 10px;
}
#reviewFormNew{
    margin-top: 10px;
}
#reviewFormNew textarea,
#reviewFormNew input {
    background-color: var(--bg-pagination-color);
    border: var(--border-color) 1px solid;
    border-radius: 10px;
    color: var(--p-color);
    padding: 10px;
}
.modal-content .btn-primary{
    margin-top: 8px;
    padding: 10px 20px;
}
.down-wrap-modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close {
    position: absolute;
    top: 0;
    right: 20px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--p-color);
    text-decoration: none;
    cursor: pointer;
}
.del-btn{
    display: block;
    margin-left: auto;
}
/*stars*/
.container-rating-wrap{
    background-color: var(--main-bg-color);
    padding: 8px 8px 11px;
    border: var(--border-color) 1px solid;
    border-radius: 25px;
}
.rating-wrap{
    display: flex;
    align-items: flex-end;
    font-size: 22px;
    line-height: 0.75;

}
.rating-body{
    position: relative;
    color: var(--p-color);

}
.rating-body::before{
    content: "★★★★★";
    display: block;
}
.rating__active{
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.rating__active::before{
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: var(--accent-color);
}

.rating__items{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.rating__item{
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}
.rating__value{
    font-size: 62%;
    color: var(--p-color);
    line-height: 1;
    padding: 0 0 0 10px;
}
/*right side container*/
.right-side-container{
    border-radius: 10px;
    margin-top: 40px;
    width: calc(25% - 15px);
    margin-left: 15px;
    background-color: var(--bg-item-color);
    padding: 20px;
    border: var(--border-color) 1px solid;
    height: fit-content;
}
.title-info-movie{
    display: flex;
    align-items: center;
}
.title-info-movie h2{
    margin-left: 7px;
    color: var(--p-color);
    font-size: 17px;
}
.mini-section-info p{
    color: white;
    margin-top: 10px;
    font-size: 19px;
}
.mini-section-info{
    margin-bottom: 15px;
}
.ratings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.mini-section-info .container-rating-wrap{
    width: calc(50% - 4px);
}
.mini-section-info .container-rating-wrap{
    border-radius: 5px;
}
.mini-section-info .container-rating-wrap .rating__value{
    padding: 0 0 0 4px;
    color: white;
    font-weight: bold;
    font-size: 13px;
}
.mini-section-info h3{
    color: white;
    font-size: 17px;
}
.mini-section-info .container-rating-wrap:nth-child(3){
    margin-top: 10px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
/*genres*/
.genres-list{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;

}
.genres-item{
    padding: 8px 14px;
    margin-bottom: 7px;
    background-color: var(--main-bg-color);
    border: var(--border-color) 1px solid;
    border-radius: 8px;
}
.genres-item:not(:last-child){
    margin-right: 4px;
}
.genres-item p {
    margin-top: 0;

    font-size: 16px;
}
/*director*/
.director-list{
    margin-top: 10px;
}
.director-item:not(:first-child){
    margin-top: 8px;
}
.director-item{
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color);
    border: var(--border-color) 1px solid;
    border-radius: 10px;
}
.director-item img{
    width: 70px;
}
.director-item p{
    margin: 0 0 0 10px;
}