<!DOCTYPE html>
<html lang="ru en" xmlns:th="http://www.thymeleaf.org">
 <head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <title>Filter Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="../static/css/filters-page-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../static/css/roots.css">
    <link rel="stylesheet" href="../../static/css/headersAndFootersStyle.css">


     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<!--import header-->
<div th:replace="~{fragments/headerBase.html :: header}"></div>

<main>
    <!--    filter form-->
    <section class="container filtered-movies-container">
        <form th:action="@{/movies}" th:class="filter-fields" method="post" class="row">
            <div class="form-group-filters">
                <label for="genre">Select Genre:</label>
                <select class="form-control" id="genre" name="genre">
                    <option>---</option>
                    <option th:each="genre : ${genres}" th:value="${genre}" th:selected="${genre == selectedGenre}" th:text="${genre}"></option>
                </select>
            </div>
            <div class="form-group-filters">
                <label for="yearRange">Select Year Range:</label>
                <select class="form-control" id="yearRange" name="yearRange">
                    <option>---</option>
                    <option th:each="range : ${yearRanges}" th:value="${range}" th:selected="${range == selectedYearRange}" th:text="${range}"></option>
                </select>
            </div>
            <div class="form-group-filters">
                <label for="sortType">Sorting:</label>
                <select class="form-control" id="sortType" name="sortType">
                    <option>---</option>
                    <option th:each="sortType : ${sortTypes}" th:value="${sortType}" th:selected="${sortType == selectedSortType}" th:text="${sortType}"></option>
                </select>
            </div>

                <button type="submit" class="filters-btn btn btn-primary">Submit</button>
        </form>


        <!--Movies  cards-->
        <ul class="filtered-movies-list">
            <li class="filtered-movies-item" th:each="movie : ${movies}">
                <a  th:href="@{|/movieId=${movie.id}|}">
                    <img class="filtered-movies-img" th:src="${movie.previewUrlImg}" alt="movie-img">
                </a>
                <div class="filtered-movies-info-container">
                <span class="filtered-movies-name" th:text="${movie.name}"></span>
                    <form th:action="@{/movie/details}" th:object="${movie}" method="post">
                        <input type="hidden" name="_method" value="get" />
                        <input type="hidden" name="id" th:value="${movie.id}" />
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                            th:attr="data-movie-name=${movie.name}, data-movie-description=${movie.description},
                                                 data-movie-img=${movie.previewUrlImg}, data-movie-ratingKp=${movie.kinopoiskRating},
                                                 data-movie-ratingImdb=${movie.imdbRating}, data-movie-year=${movie.year}"
                            onclick="setMovieData(
                                        this.getAttribute('data-movie-name'),
                                        this.getAttribute('data-movie-description'),
                                        this.getAttribute('data-movie-img'),
                                        this.getAttribute('data-movie-ratingKp'),
                                        this.getAttribute('data-movie-ratingImdb'),
                                        this.getAttribute('data-movie-year'))">Details</button>
                    </form>
                </div>
            </li>
        </ul>

        <!--pagination-->
        <nav th:if="${totalItems > 24}" aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <!-- Ссылка на предыдущую страницу -->
                <li th:class="${currentPage == 1} ? 'page-item disabled' : 'page-item'">
                    <a th:href="@{${baseUrl + (currentPage - 1)}}" class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Prev</span>
                    </a>
                </li>

                <!-- Ссылка на первую страницу -->
                <li th:if="${currentPage >= 4}" th:class="${currentPage == 1} ? 'page-item active' : 'page-item'">
                    <a th:href="@{${baseUrl + 1}}" class="page-link">1</a>
                </li>

                <!-- Ссылка на страницу "..." -->
                <li th:if="${currentPage > 4}" class="page-item disabled">
                    <a href="#" class="page-link">...</a>
                </li>

                <!-- Ссылки на страницы в диапазоне currentPage +/- 2 -->
                <li th:each="pageNum : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage < totalPages - 2 ? currentPage + 2 : totalPages)}"
                    th:class="${pageNum == currentPage} ? 'page-item active' : 'page-item'">
                    <a th:href="@{${baseUrl + pageNum}}" class="page-link" th:text="${pageNum}"></a>
                </li>

                <!-- Ссылка на страницу "..." -->
                <li th:if="${currentPage < totalPages - 3} " class="page-item disabled">
                    <a href="#" class="page-link">...</a>
                </li>

                <!-- Ссылка на последнюю страницу -->
                <li th:if="${currentPage < totalPages - 2}" th:class="${currentPage == totalPages} ? 'page-item active' : 'page-item'">
                    <a th:href="@{${baseUrl + totalPages}}" class="page-link" th:text="${totalPages}"></a>
                </li>

                <!-- Ссылка на следующую страницу -->
                <li th:class="${currentPage == totalPages} ? 'page-item disabled' : 'page-item'">
                    <a th:href="@{${baseUrl + (currentPage + 1)}}" class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>

    </section>





    <!--Modal Window-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">

                    <div>
                        <img class="card-img-top film-img" src="#" alt="Film Image">
                        <p class="film-description"></p>
                    </div>
                    <div class="modal-blocks">
                        <div class="modal-section">
                            <div class="rel-year">
                                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.75 1.5V3.75M15.25 1.5V3.75M1 17.25V6C1 4.75736 2.00736 3.75 3.25 3.75H16.75C17.9926 3.75 19 4.75736 19 6V17.25M1 17.25C1 18.4926 2.00736 19.5 3.25 19.5H16.75C17.9926 19.5 19 18.4926 19 17.25M1 17.25V9.75C1 8.50736 2.00736 7.5 3.25 7.5H16.75C17.9926 7.5 19 8.50736 19 9.75V17.25" stroke="#999999" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <p class="info-modal rel-year-text">Released Year</p>
                            </div>
                            <p class="year"></p>
                        </div>
                        <div class="modal-section">
                            <div class="rat-wrap">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.48073 1.9987C9.67288 1.53673 10.3273 1.53673 10.5195 1.9987L12.6454 7.11016C12.7264 7.30492 12.9096 7.43799 13.1199 7.45484L18.6381 7.89724C19.1368 7.93722 19.3391 8.55964 18.9591 8.88514L14.7548 12.4866C14.5946 12.6238 14.5246 12.8391 14.5736 13.0443L15.858 18.4292C15.9741 18.9159 15.4447 19.3005 15.0177 19.0397L10.2933 16.1541C10.1133 16.0441 9.8869 16.0441 9.70689 16.1541L4.98251 19.0397C4.55551 19.3005 4.02606 18.9159 4.14215 18.4292L5.42664 13.0443C5.47558 12.8391 5.40562 12.6238 5.24543 12.4866L1.04111 8.88514C0.661119 8.55964 0.863352 7.93723 1.36209 7.89724L6.88034 7.45484C7.0906 7.43799 7.27375 7.30492 7.35476 7.11016L9.48073 1.9987Z" stroke="#999999" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                                <p class="rating-text">Ratings</p>
                            </div>

                            <div class="wrap-info-modal">

                                <p class="info-modal">IMDb </p>
                                <label class="rating-label">
                                    <div class="rating rating-imdb">
                                    </div>
                                    <span id="imdb-value-rating" class="value-rating"></span>
                                </label>
                            </div>
                            <div class="wrap-info-modal">
                                <p class="info-modal">Kinopoisk </p>
                                <label class="rating-label">
                                    <div class="rating rating-kp">
                                    </div>
                                    <span id="imdb-kp-rating" class="value-rating"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</main>

<!--import footer-->
<div th:replace="~{fragments/footer.html :: footer}"></div>

<script src="../static/js/homeJS.js"></script>
<script src="../static/js/header.js"></script>
</body>
</html>