<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>HOME</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Hello, user (This is home page)</div>
<a href="/main">Main page</a>
<input type="hidden" name="_csrf" value="{{_csrf.token}}" />
</body>
</html>