<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document1</title>
</head>
<body>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    </form>

    <div>
        <form action="/add" method="post">
            <input type="text" name="text" placeholder="Enter message">
            <input type="text" name="tag" placeholder="Tag">
            <button type="submit">Add</button>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        </form>
    </div>

    <div>message List</div>
    <form action="/filter" method="post">
        <input type="text" name="filter">
        <button type="submit">Find</button>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    </form>
    {{#messages}}
        <div>
            <b>{{id}}</b>
            <b>{{text}}</b>
            <b>{{tag}}</b>
        </div>
    {{/messages}}
</body>
</html>