<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


    <link rel="stylesheet" href="../../static/css/roots.css">
    <link rel="stylesheet" href="../../static/css/headersAndFootersStyle.css">
    <link href="../static/css/newLoginStyles.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1885ed">
</head>
<body>


<!--import header-->
<div th:replace="~{fragments/headerAuth.html :: header}"></div>


<main>
    <div class="ring ring-register">
        <!--    <i style="&#45;&#45;clr:#00ff0a;"></i>-->
        <!--    <i style="&#45;&#45;clr:#ff0057;"></i>-->
        <!--    <i style="&#45;&#45;clr:#fffd44;"></i>-->
        <i style="--clr:var(--accent-color);"></i>
        <i style="--clr:#49156e;"></i>
        <i style="--clr:#f5dd4b;"></i>
        <div class="login">
            <h2>Registration</h2>
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You have successfully registered our app!
                </div>
            </div>
            <form
                    method="post"
                    role="form"
                    th:action="@{/register/save}"
                    th:object="${user}"
            >
                <div class="inputBx">
                    <input
                            class="form-control"
                            id="username"
                            name="username"
                            placeholder="Enter username"
                            th:field="*{username}"
                            type="text"
                    />

                    <p th:errors = "*{username}" class="text-danger"
                       th:if="${#fields.hasErrors('username')}"></p>
                </div>
                <div  class="inputBx">

                    <input
                            class="form-control"
                            id="firstName"
                            name="firstName"
                            placeholder="Enter first name"
                            th:field="*{firstName}"
                            type="text"
                    />
                    <p th:errors = "*{firstName}" class="text-danger"
                       th:if="${#fields.hasErrors('firstName')}"></p>
                </div>

                <div class="inputBx">

                    <input
                            class="form-control"
                            id="lastName"
                            name="lastName"
                            placeholder="Enter last name"
                            th:field="*{lastName}"
                            type="text"
                    />
                    <p th:errors = "*{lastName}" class="text-danger"
                       th:if="${#fields.hasErrors('lastName')}"></p>
                </div>

                <div class="inputBx">

                    <input
                            class="form-control"
                            id="email"
                            name="email"
                            placeholder="Enter email address"
                            th:field="*{email}"
                            type="email"
                    />
                    <p th:errors = "*{email}" class="text-danger"
                       th:if="${#fields.hasErrors('email')}"></p>
                </div>

                <div class="inputBx">
                    <!--                <label class="control-label"> Password</label>-->
                    <input
                            type="password"
                            id="password"
                            name="password"
                            class="form-control"
                            placeholder="Enter password"
                    />
                    <button type="button" title="Reveal Password" aria-pressed="false">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <mask id="eye-open">
                                    <path d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12V20H12H1V12Z" fill="#D9D9D9" stroke="black"
                                          stroke-width="1.5" stroke-linejoin="round" />
                                </mask>
                                <mask id="eye-closed">
                                    <path d="M1 12C1 12 5 20 12 20C19 20 23 12 23 12V20H12H1V12Z" fill="#D9D9D9" />
                                </mask>
                            </defs>
                            <path class="lid lid--upper" d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12" stroke="currentColor" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round" />
                            <path class="lid lid--lower" d="M1 12C1 12 5 20 12 20C19 20 23 12 23 12" stroke="currentColor"
                                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <g mask="url(#eye-open)">
                                <g class="eye">
                                    <circle cy="12" cx="12" r="4" fill="currentColor" />
                                    <circle cy="11" cx="13" r="1" fill="black" />
                                </g>
                            </g>
                        </svg>
                        <span class="sr-only">Reveal</span>
                    </button>
                </div>

                <div class="inputBx">
                    <button type="submit" class="custom-btn btn-2"><span>Register</span></button>
                </div>
                <div class="links register-link">
                    <a  th:href="@{/login}">Login</a>
                </div>

            </form>











<!--            -->
<!--            <form-->
<!--                    method="post"-->
<!--                    role="form"-->
<!--                    th:action="@{/login}"-->
<!--                    class="form-horizontal"-->
<!--            >-->
<!--                <div class="inputBx">-->

<!--                    <input-->
<!--                            type="text"-->
<!--                            id="username"-->
<!--                            name="username"-->
<!--                            class="form-control"-->
<!--                            placeholder="Enter username"-->
<!--                            autocomplete="off"-->
<!--                    />-->
<!--                </div>-->
<!--                <div class="inputBx">-->

<!--                    <input-->
<!--                            type="password"-->
<!--                            id="password"-->
<!--                            name="password"-->
<!--                            class="form-control"-->
<!--                            placeholder="Enter password"-->
<!--                    />-->
<!--                </div>-->
<!--                <div th:if="${param.error}">-->
<!--                    <div class="alert alert-danger">Invalid Email or Password</div>-->
<!--                </div>-->
<!--                <div th:if="${param.logout}">-->
<!--                    <div class="alert alert-success"> You have been logged out.</div>-->
<!--                </div>-->

<!--                <div class="inputBx">-->
<!--                    <input type="submit" value="Sign in">-->
<!--                </div>-->
<!--                <div class="links">-->
<!--                    <a href="#">Forget Password</a>-->
<!--                    <a th:href="@{/register}">Signup</a>-->
<!--                </div>-->
<!--            </form>-->
        </div>
    </div>
</main>








<!--<div class="container">-->

<!--        <div class="card">-->
<!--            <div class="card-header">-->
<!--                <h2 class="text-center">Registration</h2>-->
<!--            </div>-->
<!--            <div th:if="${param.success}">-->
<!--                <div class="alert alert-info">-->
<!--                    You have successfully registered our app!-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <form-->
<!--                        method="post"-->
<!--                        role="form"-->
<!--                        th:action="@{/register/save}"-->
<!--                        th:object="${user}"-->
<!--                >-->
<!--                    <div class="form-group mb-3">-->
<!--                        <label class="form-label">Username</label>-->
<!--                        <input-->
<!--                                class="form-control"-->
<!--                                id="username"-->
<!--                                name="username"-->
<!--                                placeholder="Enter username"-->
<!--                                th:field="*{username}"-->
<!--                                type="text"-->
<!--                        />-->

<!--                        <p th:errors = "*{username}" class="text-danger"-->
<!--                           th:if="${#fields.hasErrors('username')}"></p>-->
<!--                    </div>-->
<!--                    <div class="form-group mb-3">-->
<!--                        <label class="form-label">First Name</label>-->
<!--                        <input-->
<!--                                class="form-control"-->
<!--                                id="firstName"-->
<!--                                name="firstName"-->
<!--                                placeholder="Enter first name"-->
<!--                                th:field="*{firstName}"-->
<!--                                type="text"-->
<!--                        />-->
<!--                        <p th:errors = "*{firstName}" class="text-danger"-->
<!--                           th:if="${#fields.hasErrors('firstName')}"></p>-->
<!--                    </div>-->

<!--                    <div class="form-group mb-3">-->
<!--                        <label class="form-label">Last Name</label>-->
<!--                        <input-->
<!--                                class="form-control"-->
<!--                                id="lastName"-->
<!--                                name="lastName"-->
<!--                                placeholder="Enter last name"-->
<!--                                th:field="*{lastName}"-->
<!--                                type="text"-->
<!--                        />-->
<!--                        <p th:errors = "*{lastName}" class="text-danger"-->
<!--                           th:if="${#fields.hasErrors('lastName')}"></p>-->
<!--                    </div>-->

<!--                    <div class="form-group mb-3">-->
<!--                        <label class="form-label">Email</label>-->
<!--                        <input-->
<!--                                class="form-control"-->
<!--                                id="email"-->
<!--                                name="email"-->
<!--                                placeholder="Enter email address"-->
<!--                                th:field="*{email}"-->
<!--                                type="email"-->
<!--                        />-->
<!--                        <p th:errors = "*{email}" class="text-danger"-->
<!--                           th:if="${#fields.hasErrors('email')}"></p>-->
<!--                    </div>-->

<!--                    <div class="form-group mb-3">-->
<!--                        <label class="form-label">Password</label>-->
<!--                        <input-->
<!--                                class="form-control"-->
<!--                                id="password"-->
<!--                                name="password"-->
<!--                                placeholder="Enter password"-->
<!--                                th:field="*{password}"-->
<!--                                type="password"-->
<!--                        />-->
<!--                        <p th:errors = "*{password}" class="text-danger"-->
<!--                           th:if="${#fields.hasErrors('password')}"></p>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <button class="btn btn-primary" type="submit">Register</button>-->
<!--                        <span>Already registered? <a class="reg-or-login-info" th:href="@{/login}">Login here</a></span>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->

<!--</div>-->
<script src="../static/js/header.js"></script>
<script src="https://assets.codepen.io/16327/MorphSVGPlugin3.min.js"></script>
<script src="https://assets.codepen.io/16327/ScrambleTextPlugin3.min.js"></script>
<script src="https://unpkg.com/gsap@3.11.0/dist/gsap.min.js"></script>
<script src="../static/js/auth.js"></script>
</body>
</html>